{% extends 'base.html' %}
{% block content %}
{% for collec in collects %}
<a href="{% url 'collection_detail' collec.id %}">
    <div class="card" style="width: 18rem;">
        <img style="width:150px" src="{{collec.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{collec.name}}</h5>
        </div>
    
        <div class="card-body">
            <div class="col">
                <div class="p-3">{{collec.descriptions}}</div>
              </div>
              
        </div>
    </div>
</a>
{% endfor %}
{% endblock content %}